* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.heading__title {
  font-size: 3rem;
  hyphens: manual;
  position: relative;
  text-align: center;
  z-index: 1;
}

.heading__category {
  display: block;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.footing {
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

.footing a {
  text-decoration: none;
}

.list {
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 1199px) {
  .list {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.list__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -10px;
  margin-right: -10px;
}

.list__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

@media (min-width: 800px) {
  .list__col {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.list__error {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.listItem {
  background-color: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: background-color 300ms ease-in-out;
  width: 390px;
}

.listItem:hover {
  background-color: #ccc;
}

.listItem__poster {
  align-items: center;
  display: flex;
  position: relative;
}

.listItem__poster img {
  width: 100%;
}

.listItem__bottom {
  align-items: center;
  display: flex;
  padding: 10px;
}

.listItem__texts {
  flex: 1;
}

.listItem__title {
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.bottom-right {
  background: rgba(0, 0, 0, 0.5);
  bottom: 8px;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  right: 16px;
}

.hline {
  background: #000;
  height: 1px;
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
}

.video {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 1199px) {
  .video {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.video__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

.video__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

@media (min-width: 800px) {
  .video__col {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.video__column > video {
  width: 100%;
}

.video__description {
  margin-bottom: 20px;
  margin-top: 20px;
}
